.searchbar-main {
  width: 100%;
  height: 64px;
  border: 1px solid #e9eaeb;
  position: relative;
  top: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid #e9eaeb;
  border-bottom: none;
  background-color: #ffffff;
}
.searchbar {
  border-radius: 8px;
  width: 280px;
  padding-left: 50px;
  height: 40px;
  position: relative;
  left: 12px;
  font-family: "Inter", sans-serif;
  top: 0px;

  color: #717680;
  border-color: #0a0d1215;
}
.search-icon {
  position: absolute;
  top: 21px;
  left: 35px;
}
.shorcut {
  position: relative;
  right: 30px;
  top: 0px;
}
.filter {
  width: 99px;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  padding-left: 30px;
  background-color: #ffffff;
  position: absolute;
  right: 40px;
  top: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #414651;
  border-color: #0a0d1215;
}
.filtericon {
  position: absolute;
  top: 23px;
  right: 107px;
}
